/* CSS declarations go here */
.container {
	margin-top: 15px;
}
.hero-unit h1 {
	margin-bottom:10px;
}
.contestInputs input {
	font-size:20px;
	padding:10px;
	margin-bottom: 15px;
}
.contestInputs button {
	display:block;
}

.codeSuccess h1 {
	background-color: yellow;
	display: inline-block;
	border: 3px dashed #ccc;
	padding: 5px 10px;
}
.footer {
}
.show {
	display:block;
}
.hide {
	display: none;
}
.mainImage {
	margin-top:10px;
	margin-bottom:10px;
}
.mainImage img {
	border:1px solid #ccc;
}
.giftCardImages {
	margin-top:10px;
	margin-bottom:10px;
}
.giftCardImages img {
	margin-right:25px;
	padding-top:5px;
}